@model IEnumerable<Assignment1.Models.CashVoucher>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <style>
        body {
            background-color: coral;
        }
    </style>
</body>
<div class="wrapper fadeInDown">
    <style>
        #formContent {
            max-width: 700px;
            padding: 15px;
        }
    </style>
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h3>Manage Cash Voucher</h3>
            <br />
        </div>
        <div class="fadeIn second">
            <div class="table-responsive">
                <table class="table">
                <tbody>
                    <tr>
                        <td>Peter Ghim</td>
                        <td><button href="#">Issue</button></td>
                        <td><button href="#">Edit</button></td>
                        <td><button href="#">Details</button></td>
                    </tr>
                    <tr>
                        <td>Tan Tang</td>
                        <td><button href="#">Issue</button></td>
                        <td><button href="#">Edit</button></td>
                        <td><button href="#">Details</button></td>
                    </tr>
                    <tr>
                        <td>Ang Boon Cheng</td>
                        <td><button href="#">Issue</button></td>
                        <td><button href="#">Edit</button></td>
                        <td><button href="#">Details</button></td>
                    </tr>
                    <tr>
                        <td>S Subramaniam</td>
                        <td><button href="#">Issue</button></td>
                        <td><button href="#">Edit</button></td>
                        <td><button href="#">Details</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
