<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <style>
        body{
            background-color:coral;
        }
    </style>
</body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>Staff Login</h1>
        </div>

        <!-- Login Form -->
        <form method="post" action="~/Login/StaffLogin">
            
            <input type="text" id="login" class="fadeIn second" name="LoginID" placeholder="Login ID" required />

            <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Password" required />
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd and sign up -->
        <div id="formFooter">
            <a class="underlineHover">Don't have an account?<a href="#">Sign Up</a></a>
            <br />
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>