<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <style>
        body {
            background-color: coral;
        }
    </style>
</body>
<div class="wrapper fadeInDown">
    <style>
        #formContent {
            max-width: 700px;
            padding:15px;
        }
    </style>
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>About</h1>
        </div>
        <h4 class="fadeIn second">
            Welcome to NP Courier Service! <br /><br />At NP Courier Service, we understand that reliable and efficient delivery is crucial for your business. That's why we are here to provide you with top-notch courier solutions tailored to your needs. <br />With our extensive experience and commitment to excellence, we aim to be your trusted partner for all your delivery requirements.<br /><br />Our Mission:<br />At NP Courier Service, our mission is simple: to deliver excellence.<br />We strive to exceed our clients' expectations by providing fast, secure, and reliable delivery services. We understand the importance of timely deliveries and the impact it has on your business operations. Our dedicated team is driven to ensure your package arrive on time, every time.<br /><br />
        </h4>
        <style>
            h4{
                font-size:17px
            }
        </style>
</div>
</div>