@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="index-text-container">
                <h1 class="fontstyle-1">FEEL THE SPEED</h1><br />
                <h3 class="fontstyle-1">We are as fast as the air and as trustworthy as your heart</h3>
            </div>
            <br />
            <a href="#"><button type="button" class="btn btn-dark"><h3 class="fontstyle-1">Deliver Now</h3></button></a>
        </div>

        <div class="col-sm-4"><img class="one-third-size" src="~/Images/Delivery-PNG-Images.png" /></div>
    </div>
</div>