<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <style>
        body {
            background-color: coral;
        }
    </style>
</body>
<div class="wrapper fadeInDown">
    <style>
        #formContent {
            max-width: 700px;
            padding: 15px;
        }
    </style>
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <h1>WELCOME FrontOffSG1,</h1>
        </div>

        <div class="fadeIn second">

            <div class="container">
                <style>
                    .row {
                        padding: 50px;
                    }

                    .col {
                        padding: 10px;
                        font-size: 18px;
                    }

                </style>
                <div class="row">
                    <div class="col">
                        Create a new parcel delivery record <br /><br />
                        <a href="~/FrontOfficeStaff/ParcelDelivery"><button type="button" class="btn btn-outline-dark">Create</button></a>
                    </div>
                    <div class="col">
                        Create Payment Transactions <br /><br />
                        <a href="~/PaymentTransaction"><button type="button" class="btn btn-outline-dark">Create</button></a>
                    </div>
                    <div class="col">
                        View Delivery History Table <br /><br />
                        <a href="~/FrontOfficeStaff/Table"><button type="button" class="btn btn-outline-dark">View</button></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>